
$primary-font-family: "Montserrat";

$header-height: 65px;
$base-font-size: 16px;

$white: #fff !default;
$black: #000 !default;


// Break points
$smallScreen: 576px;
$mediumScreen: 768px;
$largeScreen: 992px;
$xLargeScreen: 1200px;
$xxLargeScreen: 1400px;